*{
    background-color:rgb(255, 238, 182);
}
#space{
    background-color: whitesmoke;
    height: 25vh;
    width: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
    box-shadow: 3px;
    text-align: right;
}
.button{
    height: 60px;
    width: 120px;
    margin: 20px;
    background-color: rgb(255, 174, 0);
}
.button:hover{
    background-color: coral;
}
.num{
    height: 45px;
    width: 120px;
    margin: 5px;
    background-color: rgb(88, 67, 23);
    color: whitesmoke;
    text-align: center;
}
.submit{
    height: 45px;
    width: 120px;
    margin: 5px;
    background-color: rgb(12, 140, 0);
    color: whitesmoke;
    text-align: center;
}
.clear{
    height: 45px;
    width: 120px;
    margin: 5px;
    background-color: rgb(166, 0, 0);
    color: whitesmoke;
    text-align: center;
}
#show{
    background-color: whitesmoke;
    color: black;
    height: 50%;
    font-size: larger;
    border-style: none;
}